Debug/contaloc.dir/Debug/vc141.pdb
Debug/ALL_BUILD.vcxproj
Debug/ALL_BUILD.vcxproj.filters
Debug/ALL_BUILD.vcxproj.user
Debug/CMakeCache.txt
Debug/ZERO_CHECK.vcxproj
Debug/ZERO_CHECK.vcxproj.filters
Debug/cmake_install.cmake
Debug/conanbuildinfo.cmake
Debug/conanbuildinfo.txt
Debug/conaninfo.txt
Debug/contaloc.sln
Debug/contaloc.vcxproj
Debug/contaloc.vcxproj.filters
Debug/contaloc.vcxproj.user
Debug/filtro.ini
Debug/saida.txt
Debug/saida2.txt
Debug/.vs/contaloc/v15/.suo
Debug/.vs/contaloc/v15/Browse.VC.db
Debug/.vs/contaloc/v15/Solution.VC.db
Debug/.vs/contaloc/v15/ipch/AutoPCH/964a3ccc57aad988/OPERATIONS.ipch
Debug/.vs/contaloc/v15/ipch/AutoPCH/b6e5ffd4c7189119/MAIN.ipch
Debug/CMakeFiles/CMakeOutput.log
Debug/CMakeFiles/TargetDirectories.txt
Debug/CMakeFiles/cmake.check_cache
Debug/CMakeFiles/feature_tests.bin
Debug/CMakeFiles/feature_tests.c
Debug/CMakeFiles/feature_tests.cxx
Debug/CMakeFiles/generate.stamp
Debug/CMakeFiles/generate.stamp.depend
Debug/CMakeFiles/generate.stamp.list
Debug/CMakeFiles/3.13.3/CMakeCCompiler.cmake
Debug/CMakeFiles/3.13.3/CMakeCXXCompiler.cmake
Debug/CMakeFiles/3.13.3/CMakeDetermineCompilerABI_C.bin
Debug/CMakeFiles/3.13.3/CMakeDetermineCompilerABI_CXX.bin
Debug/CMakeFiles/3.13.3/CMakeRCCompiler.cmake
Debug/CMakeFiles/3.13.3/CMakeSystem.cmake
Debug/CMakeFiles/3.13.3/VCTargetsPath.txt
Debug/CMakeFiles/3.13.3/VCTargetsPath.vcxproj
Debug/CMakeFiles/3.13.3/CompilerIdC/CMakeCCompilerId.c
Debug/CMakeFiles/3.13.3/CompilerIdC/CompilerIdC.exe
Debug/CMakeFiles/3.13.3/CompilerIdC/CompilerIdC.vcxproj
Debug/CMakeFiles/3.13.3/CompilerIdC/Debug/CMakeCCompilerId.obj
Debug/CMakeFiles/3.13.3/CompilerIdC/Debug/vcpkg.applocal.log
Debug/CMakeFiles/3.13.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
Debug/CMakeFiles/3.13.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.write.1u.tlog
Debug/CMakeFiles/3.13.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Debug/CMakeFiles/3.13.3/CompilerIdCXX/CompilerIdCXX.exe
Debug/CMakeFiles/3.13.3/CompilerIdCXX/CompilerIdCXX.vcxproj
Debug/CMakeFiles/3.13.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
Debug/CMakeFiles/3.13.3/CompilerIdCXX/Debug/vcpkg.applocal.log
Debug/CMakeFiles/3.13.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
Debug/CMakeFiles/3.13.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.write.1u.tlog
Debug/CMakeFiles/3.13.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
Debug/CMakeFiles/3.13.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
Debug/CMakeFiles/3.13.3/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
Debug/CMakeFiles/d7d5f1db6299dfea42604b6306b2bf37/generate.stamp.rule
Debug/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
Debug/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
Debug/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
Debug/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
Debug/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
Debug/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
Debug/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
Debug/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
Debug/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
Debug/bin/boost_filesystem-vc141-mt-gd-x32-1_68.dll
Debug/bin/boost_system-vc141-mt-gd-x32-1_68.dll
Debug/bin/contaloc.exe
Debug/bin/contaloc.ilk
Debug/bin/contaloc.pdb
Debug/contaloc.dir/Debug/contaloc.log
Debug/contaloc.dir/Debug/contaloc.vcxproj.CopyComplete
Debug/contaloc.dir/Debug/main.obj
Debug/contaloc.dir/Debug/vcpkg.applocal.log
Debug/contaloc.dir/Debug/contaloc.tlog/CL.command.1.tlog
Debug/contaloc.dir/Debug/contaloc.tlog/CL.read.1.tlog
Debug/contaloc.dir/Debug/contaloc.tlog/CL.write.1.tlog
Debug/contaloc.dir/Debug/contaloc.tlog/contaloc.lastbuildstate
Debug/contaloc.dir/Debug/contaloc.tlog/contaloc.write.1u.tlog
Debug/contaloc.dir/Debug/contaloc.tlog/custombuild.command.1.tlog
Debug/contaloc.dir/Debug/contaloc.tlog/custombuild.read.1.tlog
Debug/contaloc.dir/Debug/contaloc.tlog/custombuild.write.1.tlog
Debug/contaloc.dir/Debug/contaloc.tlog/link.command.1.tlog
Debug/contaloc.dir/Debug/contaloc.tlog/link.read.1.tlog
Debug/contaloc.dir/Debug/contaloc.tlog/link.write.1.tlog
